
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.container-fluid{
    background-color: #C49A64;
}
.row{
    padding-bottom: 0.5rem;
}
.nav-item{
    text-align: center;
}
header .marca{
    display: grid;
    background-color: #AABEAB;
    justify-content: center;
    width: 100%;
    }
.menu_lista{
    background-color: #C49A64;
    padding: 1rem;
    display: grid;    
    grid-template-columns: 0.7fr 1.5fr 1.5fr 1.3fr 1fr 0.3fr;
    justify-content:center ;
    justify-items: center;
    align-content: space-around;
    list-style: none;
    gap: 1rem;
}
header nav li a{
    font-family: 'Asap', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;   
}
.banner{
    width: 100%;
}
body{
    font-family: 'Asap', sans-serif;
    color: #768D7B;
}
.principales{
    font-family: 'Asap', sans-serif;
    font-size: 1rem;
    text-align: center;
    color: #768D7B;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
}
.textonov{
    font-size: 1rem;
}
.inicio{
    display: flex;
    flex-direction: row-reverse;
    padding-top: 2rem;
    width: 100%;
}
.inicio a{
    font-family: 'Asap', sans-serif;
    color: #AABEAB;
    text-decoration: none;
    font-weight: bold;
}
footer{
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: #C49A64;
}
.rrss{
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}
.logo__rrss{
    padding-right: 1rem;
}
.copyright{
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    font-family: 'Asap',sans-serif;
    color: white;
    font-size: 0.7rem;
    
}
.main{
    font-family: 'Asap',sans-serif;
    color: #768D7B;   
}
.main__contacto{
    display: grid;
    grid-template-columns: 2fr 2fr;
    justify-items: auto;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.img__cata{
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

}
.contacto{
    display: grid;
    grid-template-areas: "nombre apellido" "email edad" "sexo sexo" "comentarios comentarios" "condiciones condiciones" "botones botones";        
    justify-items: space-around;
    align-content: center;
    align-items: center;   
    gap: 1rem; 
    padding: 1rem;
}
.nombre{
    grid-area: nombre;
}
.apellido{
    grid-area: apellido;
}
.email{
    grid-area: email;
}
.edad{
    grid-area: edad;
}
.sexo{
    grid-area: sexo;
}
.comentarios{
    grid-area: comentarios;
}
.botones{
    grid-area: botones;
    justify-self: end;
}
.condiciones{
    grid-area: condiciones;
}
legend{
    font-family: 'Asap', sans-serif;
    font-size: 1.5rem;
    color: #768D7B;
}
label{
    font-family: 'Asap', sans-serif;
    color: #768D7B;
    font-size: 1rem;
}
.form__texto{
    font-family: 'Asap', sans-serif;
    font-size: 1rem;
    color: #768D7B;
    line-height: 2rem;
}
.sexo{
    display: flex;
    justify-content: start;
    line-height: 2rem;
}
.boton{
    margin-left: 1rem;
    background-color: #C49A64;
    color: white;
}
.btn{
    background-color: #C49A64;
    color: white;
    outline-color: #C49A64;
    outline-width: 0rem;
}
.texto__qs{
    font-family: 'Asap', sans-serif;
    font-size: 1rem;
    color: #768D7B;
    display: grid;
    grid-template-rows: 0.5fr 3fr 2fr 1fr;
    gap: 2rem;
    padding-top: 2rem;
    padding-right: 1rem;
    margin-left: 1rem;
}
.parrafo{
    width: 100%;
}
main h2{
    font-family: 'Asap', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #768D7B;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-left: 1rem;
}

main h3{
    font-family: 'Asap', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #768D7B;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}
.img__qs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    padding-bottom: 2rem; 
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.img__qs__ind{
    display: grid;
    justify-items: center;
    width: 100%;
    overflow: hidden;
    padding-bottom: 1rem;
}
.historia__te{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: 'Asap', sans-serif;
    font-size: 1rem;
    color: #768D7B;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: center;
    overflow: hidden;
}
.texto__historia{
    line-height: 2rem;
}
.video__historia{
    position: relative;
    padding-bottom: 61.6%;
    height: 0;
    overflow: hidden;
}
.video__historia iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; 
}
.lista__tes {
    padding-top: 2rem;
    font-family: 'Asap', sans-serif;
    color: #768D7B;
    padding-bottom: 2rem;
    line-height: 1.5rem;
    margin-left: 3rem;
    list-style: none;
}

.lista__tes a{
    text-decoration: none;
    color: #768D7B;
    font-weight: bold;
}
.preparar{
    padding-bottom: 2rem;
    font-family: 'Asap', sans-serif;
    color: #768D7B;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 1.5rem;
    display: grid;
    grid-template-rows: repeat(6, auto);
}
.te{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 2rem;   
}
.te__blend{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-top: 2rem;
}
.te__blend img{
    width: 20rem;
    height: 20rem;
    transition: all 2s;
}   
.te__blend img:hover{
    height: 25rem;
    width: 25rem;
} 

.te__blend span{
    text-decoration: none;
    font-family: 'Asap', sans-serif;
    color: #768D7B;
}
.img__qs__ind:hover{
    transform: translate(10px,10px);
}
@media screen and (max-width: 768px) {
    
    .menu_lista{
        grid-template-rows: repeat(6, 1fr);
        justify-items: center;
        grid-template-columns: auto;   
    }
    header nav li a{
        font-size: 1.5rem;   
    }
    .principales{
        text-align: center;
        padding-left: 0;
    }
    .copyright{
        text-align: center;
        flex-wrap: wrap;     
    }    
    .img__qs{
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: auto;
        justify-content: center;
        align-content: center;
        width: 100%;  
        margin: 0;
        padding: 0;   
        padding-bottom: 1rem;  
    }
    .historia__te{
        grid-template-rows: repeat(2,auto);
        grid-template-columns: auto;
        justify-content: center;
    }
    .video__historia{
        position: relative;
        padding-bottom: 61.5%;
        height: 0;
        overflow: hidden;
    }
    .video__historia iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .preparar h2{
        text-align: center;
    }
    .ruta{
        text-align: center;
    }
    .main__contacto{
        grid-template-rows: repeat(2,auto);
        grid-template-columns: auto;
        align-items: center;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
@media screen and (max-width: 425px) {
    header nav li a{
        font-size: 1rem;   
    }
    .principales h2{
        font-size: 1.5rem;
    }
    .copyright{
        text-align: center;
        flex-wrap: wrap;
    }    
    main h2{
        font-size: 1.5rem;
    }
    .img__qs{
        margin-left: 1rem;
        margin-right: 2rem;
        width: 90%;
        justify-content: center;
    }
    .texto__qs{
        text-align: justify;
    }
    .historia__te{
        grid-template-rows: repeat(2,auto);
        grid-template-columns: auto;
        justify-content: center;
    }
    .video__historia{
        position: relative;
        padding-bottom: 61.5%;
        height: 0;
        overflow: hidden;
    }
    .video__historia iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .contacto{
        display: grid;
        grid-template-areas: "nombre" "apellido" "email" "edad" "sexo" "comentarios" "condiciones" "botones";                   
    }
    #ceremonia{
        padding-top: 0;
    }
}
