.container-fluid{
    background-color: #C49A64;
}
.row{
    padding-bottom: 0.5rem;
}
.nav-item{
    text-align: center;
}
.banner{
    width: 100%;
}
body{
    font-family: 'Asap', sans-serif;
    color: #768D7B;
}   
@mixin padding($top, $right, $bottom, $left) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

.principales{
    font-family: 'Asap', sans-serif;
    font-size: 1rem;
    text-align: center;
    color: #768D7B;
    @include padding(2rem, 0rem, 1rem, 2rem);
}
.inicio{
    display: flex;
    flex-direction: row-reverse;
    padding-top: 2rem;
    @extend .banner;
    & a{
        font-family: 'Asap', sans-serif;
        color: #AABEAB;
        text-decoration: none;
        font-weight: bold;
    } 
}
.main{
    font-family: 'Asap',sans-serif;
    color: #768D7B;   
    &__contacto{
        display: grid;
        grid-template-columns: 2fr 2fr;
        justify-items: auto;
        align-items: center;
        @include padding(1rem, 1rem, 1rem, 1rem);
    }
}
legend{
    font-family: 'Asap', sans-serif;
    font-size: 1.5rem;
    color: #768D7B;
}
label{
    font-family: 'Asap', sans-serif;
    color: #768D7B;
    font-size: 1rem;
}
.btn{
    background-color: #C49A64;
    color: white;
    outline-color: #C49A64;
    outline-width: 0rem;
}
.texto__qs{
    font-family: 'Asap', sans-serif;
    font-size: 1rem;
    color: #768D7B;
    display: grid;
    grid-template-rows: 0.5fr 3fr 2fr 1fr;
    gap: 2rem;
    @include padding(2rem, 1rem, 0, 0);
}
.img__qs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    padding-bottom: 2rem; 
    margin: 0;
    padding: 0;
    overflow: hidden;
    &__ind{
        display: grid;
        justify-items: center;
        width: 100%;
        overflow: hidden;
        padding-bottom: 1rem;
        &:hover{
            transform: translate(10px,10px);
        }
    }
}
.parrafo{
    @extend .banner;
}
main{
    h2{
        font-family: 'Asap', sans-serif;
        font-size: 2rem;
        font-weight: bold;
        color: #768D7B;
        @include padding(1.5rem, 0, 1.5rem, 0);
    }
    h3{
        font-family: 'Asap', sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
        color: #768D7B;
        @include padding(1.5rem, 0, 1rem, 0);
        
    }
} 
.texto__historia{
    line-height: 2rem;
}
.video__historia{
    position: relative;
    padding-bottom: 61.6%;
    height: 0;
    overflow: hidden;
    & iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden; 
    }
}
.lista__tes {
    padding-top: 2rem;
    font-family: 'Asap', sans-serif;
    padding-bottom: 2rem;
    line-height: 1.5rem;
    margin-left: 3rem;
    list-style: none;
    & a{
        text-decoration: none;
        color: #768D7B;
        font-weight: bold;
    }
}
$colortes: (
  "puerh":#d79596,
  "earl": #a7aeba,
  "frubosq": #bfa9ba,
  "antonieta": #a68b79,
  "chai": #a1c2c3,
  "vmiel": #decba1,
  "vfrutal": #e2bebf,
  "vcitrico": #aec37c
);
@each $colorte, $valor in $colortes {
    .te--#{$colorte}{
        color: $valor;
    }
}
.te{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 2rem;   
}
.te__blend{
    display: flex;
    flex-direction: column;
    @include padding(2rem, 0, 0, 2rem);
    & img{
        width: 20rem;
        height: 20rem;
        transition: all 2s;
    }   
    & img:hover{
        height: 25rem;
        width: 25rem;
    }     
    & span{
        text-decoration: none;
        font-family: 'Asap', sans-serif;
        color: #768D7B;
    }
}
.col-md-6{
    padding-top: 2rem;
    padding-bottom: 2rem;
}