header{
    .marca{
        display: grid;
        background-color: #AABEAB;
        justify-content: center;
        width: 100%;
        }
        nav li a{
            font-family: 'Asap', sans-serif;
            font-size: 1.5rem;
            text-decoration: none;
            color: white;   
        }   
} 
